@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icons8-delete {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCI+CiAgICA8cGF0aCBkPSJNIDE0Ljk4NDM3NSAyLjQ4NjMyODEgQSAxLjAwMDEgMS4wMDAxIDAgMCAwIDE0IDMuNSBMIDE0IDQgTCA4LjUgNCBBIDEuMDAwMSAxLjAwMDEgMCAwIDAgNy40ODYzMjgxIDUgTCA2IDUgQSAxLjAwMDEgMS4wMDAxIDAgMSAwIDYgNyBMIDI0IDcgQSAxLjAwMDEgMS4wMDAxIDAgMSAwIDI0IDUgTCAyMi41MTM2NzIgNSBBIDEuMDAwMSAxLjAwMDEgMCAwIDAgMjEuNSA0IEwgMTYgNCBMIDE2IDMuNSBBIDEuMDAwMSAxLjAwMDEgMCAwIDAgMTQuOTg0Mzc1IDIuNDg2MzI4MSB6IE0gNiA5IEwgNy43OTI5Njg4IDI0LjIzNDM3NSBDIDcuOTEwOTY4NyAyNS4yNDEzNzUgOC43NjMzNDM4IDI2IDkuNzc3MzQzOCAyNiBMIDIwLjIyMjY1NiAyNiBDIDIxLjIzNjY1NiAyNiAyMi4wODgwMzEgMjUuMjQxMzc1IDIyLjIwNzAzMSAyNC4yMzQzNzUgTCAyNCA5IEwgNiA5IHoiPjwvcGF0aD4KPC9zdmc+")
    50% 50% no-repeat;
  background-size: 100%;
}
